.banner {
  //clip-path: polygon(100% 0,100% 100%,50% calc(100% - 50px),0 100%,0 0);
  background-color: #fcaf17;
  padding: 5px;
  height: 180px;
}

.banner-wrapper {
  margin: 0 auto;
  max-width: 1400px;
}

.main-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}

.mini-nav {
  height: 40px;
  width: 450px;
  border: 1px solid rgb(119, 136, 153);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 255);
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    li {
      padding-right: 10px;
    }
  }
  a {
    text-decoration: none;
    color: rgb(119, 136, 153);
    &:hover {
      color: #282c34;
      transition: all 0.2s ease-in-out;
    }
  }
}
