@import 'variable.scss';
@import 'animations';

.dashboard-wrapper {
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $royal-blue;
  height: 70px;
  h1 {
    color: #cccccc;
  }
  li {
    list-style: none;
  }
  .signout-link {
    text-decoration: none;
    padding: 6px;
    box-shadow: $shadow;
    background-color: $main-color;
    margin: 0 10px;
    &:hover {
      transition: 0.2s ease-out;
      color: #cccccc;
      background-color: $light;
      border-radius: 5px;
    }
  }
}

.profile-link {
  text-decoration: none;
  color: #cccccc;
  &:hover {
    transition: 0.2s ease-out;
    color: $light;
  }
}

//.dashboard-content {
//  color: $dark;
//}

.new-section {
  max-width: 1400px;
  margin: 0 auto;
}

.search-container {
  padding: 5px;
  input[type=search] {
    width: 95%;
    height: 35px;
    border: none;
  }
  input[type=submit] {
    height: 35px;
    border: none;
    &:hover {
      transition: 0.2s ease-out;
      background-color: #dddddd;
      border-radius: 4px;
    }
  }
}

.post-table {
  border-collapse: collapse;
  width: 100%;
  th {
    font-weight: map-get($weight, "bold");
    font-size: map-get($size, "large");
  }
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #dddddd;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  td {
    font-size: map-get($size, "normal");
  }
}

.is-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
