@import 'variable.scss';
@import 'animations';

.signin-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.signin-opacity {
  padding: 60px 68px 40px;
  min-height: 525px;
  background: $background-gradients;
  box-shadow: $dark-shadow;
  //opacity: 0.5;
}

.signin-form {
  color: #fff;
  position: relative;
  input {
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 20rem;
    background: #333;
    color: #fff;
    font-weight: map-get($weight, "bold");
    padding: 0 32px;
  }
  button {
    width: 100%;
    padding: 10px 0;
    border: none;
    background-color: #282c34;
    color: #fff;
  }
  a {
    text-decoration: none;
  }
}

.fa-user {
  position: absolute;
  top: 78px;
  left: 10px;
}

.fa-lock {
  position: absolute;
  top: 138px;
  left: 10px;
}

