@import "variable.scss";

.sidebar-wrapper {
  position: relative;
  float: left;
  z-index: 9990;
  //text-align: center;
  background-color: $dark;
  padding: 10px;
  height: 94.5vh;
  ul {
    margin: 2px auto;
  }
  h1 {
    color: $light;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: $dark;
    padding: 5px;
    background-color: #cccccc;
    &:hover {
      color: $dark;
      transition: 0.2s ease-out;
      border-radius: 4px;
      background-color: $light;
    }
  }
}
